body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fffbe7;
}

header {
  background: #afac01;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

section h2 {
  color: #ff6347;
}

footer {
  background: #f8f8f8;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #ff6347;
  text-decoration: none;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #e5533d;
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  header h1 {
    font-size: 24px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    padding: 15px;
  }
}